<h2 >
  {{ loginService.userInDb != null ? loginService.userInDb?.name + "'s Team": "Invalid Team Link" }}
  </h2>
  <div>
    Total Salary: {{ salaryService.totalSalary }}
  </div>
  <div>
     Current Player Count: {{ salaryService.winningPlayers }}
  </div>
  <div>
    Current Max Bid: {{ salaryService.getMaxBid(loginService.userInDb?.deadSalary) }}
  </div>
  <table class="md-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Position</th>
        <th>Team</th>
        <th>Bye</th>
        <th>Salary</th>
        <th>Years</th>
        <th>Total Value</th>        
      </tr>
    </thead>
    <tbody class="table-hover" *ngFor="let bid of userBids | async">
        <tr *ngIf="bid.isWinningBid">
        <td [routerLink]="['/player', bid.playerId]">
          {{ (bid.playerInfo | async)?.lastName }}
        </td>
        <td>
          {{ (bid.playerInfo | async)?.position }}
        </td>
        <td>
          {{ (bid.playerInfo | async)?.team }}
        </td>
        <td>
          {{ (bid.playerInfo | async)?.byeWeek }}
        </td>
        <td>
          ${{ bid.salary }}
        </td>
        <td>
          {{ bid.years }}
        </td>
        <td>
          ${{ bid.totalValue }}
        </td>
      </tr>
    </tbody>
  </table>
