<h2>
  {{(player | async) != null ? 
  (player | async).firstName + ' ' + (player | async).lastName 
  : "Invalid Player Page"}}
</h2>
<h3>
  {{(player | async) != null ? 
  'position: ' + (player | async).position + 
  ' | team: ' + (player | async).team +
  ' | bye week: ' + (player | async).byeWeek
  : "--"}}
</h3>
<h3>
  Time Left: {{ currentMaxBid !=null ? 
  timeService.getTimeLeft(currentMaxBid.time, timeService.currentTimeInt) :
  "--"}}
</h3>
<div>
  <md-input-container>
    <input mdInput type="number" placeholder="Salary" [(ngModel)]="newBidSalary" name="newBidSalary"
    type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="Years" [(ngModel)]="newBidYears" name="newBidYears"
    type="number" onkeypress="return event.charCode >= 48 && event.charCode <= 57"/>
  </md-input-container>
  <md-input-container>
    <input mdInput placeholder="TotalValue" disabled="true"
    [value]="getBidTotalValue(newBidSalary, newBidYears)"/>
  </md-input-container>
  <button type="submit" md-raised-button color="primary"  
    (click)="submitBid(newBidSalary, newBidYears)">
    BID
  </button>
</div>
<table class="md-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Time</th>
      <th>Amount</th>
      <th>Years</th>
      <th>Total Value</th>
      
    </tr>
  </thead>
  <tbody class="table-hover">
      <tr *ngFor="let bid of bids | async">
      <td [routerLink]="['/team', (bid.user | async)?.$key]">
        {{ (bid.user | async)?.name }}
      </td>
      <td>
        {{ timeService.getLocalTimeFromTimeStamp(bid.time) }}
      </td>
      <td>
        ${{ bid.salary }}
      </td>
      <td>
        {{ bid.years }}
      </td>
      <td>
        ${{ bid.totalValue }}
      </td>
    </tr>
  </tbody>
</table>

