

#header-primary-white, .header-button {
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

#header-primary-white:hover,  .header-button:hover{
  color: teal !important;
  text-decoration: none;
}

#header-primary-accent {
  color: teal;
}

#github-icon {
  color: white;
  height: 21px;
}

#custom-avatar {
  height: 28px;
  width: 28px;
}

.header-button{
  margin-left: 30px !important;
  margin-right: 30px !important;
  font-size: 20px;
}

.header-icon{
  margin-right: 20px !important;
  color: white;
}