<md-toolbar color="primary" class="mat-elevation-z4">
  <h1><a href='' id="header-primary-white">Dynasty Fantasy Football</a></h1>
  <button class="header-button" [routerLink]="['/playerList']" md-icon-button>
    Players
  </button>
  <button *ngIf="loginService.user" class="header-button" [routerLink]="['/team', loginService.user.uid]" md-icon-button>
    My Team
  </button>
  <span class="spacer"></span>
  <button *ngIf="loginService.user" class="header-button" md-icon-button (click)="loginService.logout()">
    <img class="mat-card-avatar" id="custom-avatar" src="{{loginService.user.photoURL}}">
  </button>
  <button md-button *ngIf="!loginService.user" class="header-button" (click)="loginService.login()">
    LOGIN
  </button>
</md-toolbar>