/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic");
/*@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';*/

app-component {
  border-spacing: 10px
}



td {
  text-align: left
}

th {
  text-align: left
}

body, html {
  margin: 0;
  font-family: Roboto;
  box-sizing: border-box;
  height: 100%;
}

h1 {
  font-size: 30px !important;
  font-weight: bold !important;
}

h2 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 128, 128)
}

h3 {
  font-family: Roboto;
  font-size: 16px;
  text-transform: uppercase;
}

h4 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
}

p {
  font-family: Roboto;
  font-size: 12px;
  word-break: break-all;
}

md-card {
  margin: 20px;
}

.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.mat-sidenav-content {
  width: 100%;

  // /* TODO: Set this to min-height needed for admin-toolbar controls */
  // min-height: 400px;
}

.mat-toolbar {
  font-size: initial !important;
}

.floating-fab {
  position: fixed !important;
  right: 20px;
  bottom: 20px;
  z-index: 9999;
}

.phase-step-title {
  color: rgba(0, 0, 0, 0.54)
}

.card-no-padding {
  padding: 0px !important;
}

.card-content-padding {
  padding: 0 24px 8px;
}

.mat-card-header-text {
  margin: 0px !important;
}


/* Table Formatting --------------------------------*/
a {
  text-decoration: none;
}

i {
  vertical-align: middle;
  font-size: 24px;
}

.main-fab {
  position:absolute;
  z-index:20;
  font-size:30px;
  top:100px;
  left:24px;
  transform:scale(.88,.88);
}

.md-breadcrumb {
  padding-left:88px;  
}

.JCLRgrip:first-child {
  left:105px!important;
  display: none!important;
}

.JColResizer th:first-child {
  width: 105px!important;
}

.md-table {
  min-width: 100%;
  border-collapse: collapse;
}

tr.bid-won{
  background-color:rgba(0,128,128, .2);
}

.md-table tbody tr:hover, .md-table tbody tr:focus {
  cursor:pointer;
  background-color:rgba(0,128,128, 1);
  color: white;
}

.md-table-header {
  border-bottom: 1px solid rgb(230,230,230);
  color: rgb(130,130,130);
  text-align: left;
  font-size: 0.75em;
  font-weight: 700;
  padding: 16px 16px 16px 0;
}

.md-table-header a{
  text-decoration: none;
  color: inherit;
}

.md-table-content {
  white-space: nowrap;
  font-size: 0.8em;
  padding: 16px 16px 16px 0;
  height: 72px;
}

.md-table-td-more {
  max-width:72px;
  width:72px;
  padding:16px;
}

.md-table-thumbs {
  max-width: 104px;
  width: 104px;
  padding: 16px 32px;
}

.md-table-thumbs div {
  overflow:hidden;
  width: 40px;
  height:40px;
  border-radius:20px;
  border: 1px solid rgba(0,0,0,0.2);
  background-size:cover;
  box-shadow: 0 8px 10px rgba(0,0,0,.3);
  -webkit-box-shadow: 0 8px 10px rgba(0,0,0,.1);
}

.md-table-footer {
  height:40px;
  padding-left: 32px;
  padding-right: 32px;
}

.md-table-count-info {
  line-height:40px;
  font-size:.75em;
}

.md-table-footer-item {
  width: 40px;
  height: 40px;
  vertical-align:middle;
}

.md-table-active-page {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.grey {
  color: grey;
}

md-input-container.md-default-theme .md-input {
  color: white;
  border-color: white;
  margin-top: 24px;
}